{% extends "layouts/base.html" %}

{% block content %}

<main class="container">
    <section class="card card-body text-center">
        <h1 class="display-1 mb-3">Home</h1>
        
        
        
        {% if user.is_authenticated == False %}
        <p>Registrate o inicia sesion para llevar control de tus tareas o pendientes</p>
        <div class="container mt-3 ">

            <a class="btn btn-outline-primary" href="/signin">Login</a>

        

            <a class="btn btn-outline-primary" href="/signup">Signup</a>

        </div>
        {% else %}
            <p>lleva el control de tus pendientes</p>
            <p>Haz click en una tarea para actualizarla</p>
            
            <div class="text-center mt-2">
                <a href="/logout" class="btn btn-primary">logout</a>
            </div>
        {% endif %}
        
    </section>
</main>

{% endblock %}